---
import MainLayout from "../layouts/MainLayout.astro"

const name = "Rody Huancas"
---

<MainLayout title="Home">
	<h1>{name}</h1>

	<p>Momento Actual: {new Date().toLocaleTimeString()}</p>
	<p id="current-time">Momento Actual: {new Date().toLocaleTimeString()}</p>

	<script>
		const currentYear: number = new Date().getFullYear();
		const footer = document.querySelector('footer') as HTMLElement;
		footer.innerHTML = `Año: ${ currentYear }`

		const paragraph = document.querySelector("#current-time") as HTMLElement;
		paragraph.innerHTML = `Momento Actual: ${new Date().toLocaleTimeString()}`
	</script>
</MainLayout>
